<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Edit Comment</mat-label>
    <textarea matInput [(ngModel)]="data.text">{{data.text}}</textarea>
    <button mat-button *ngIf="data.text" matSuffix mat-icon-button aria-label="Clear" (click)="data.text=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.text" cdkFocusInitial>Save</button>
</div>

