<div class="about-page">
  <h1>About Link</h1>
  <p>I created Link to learn about Firefox Browser Add-Ons and Web Development.</p>
  <p>Link was created with Angular, Angular Material, Firebase, and <a
    href="https://microlink.io/">Microlink</a>.</p>
  <p>If you have any questions, feedback or anything else, I can be contacted through any of the links below.</p>

  <div class="external-link">
    <fa-icon class="fa-icon-indent" [icon]="['fab', 'github-alt']" ></fa-icon>
    <a href="https://github.com/medesmedes/Link" target="_blank">Github Repo</a>
  </div>

  <div class="external-link">
    <fa-icon class="fa-icon-indent" [icon]="['far', 'envelope']" ></fa-icon>
    <a class="external-link" href="mailto:mail@ahmadissa.dk" target="_blank">Mail</a>
  </div>

</div>
