.about-page{
  margin: 2rem 12rem;
}

h1{
  font-weight: 500;
  color: rgba(0,0,0,.87);
}

.external-link{
  font-size: 1.5rem;
  text-decoration: none;
}

.fa-icon-indent{
  margin-right: 0.5rem;
  color: #6c7bad;
}

a{
  color: #6c7bad;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .about-page{
    margin: 2rem 6rem;
  }
}
