.card-container {
  max-width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

.mat-card{
  padding-bottom: 0;
}

@media only screen and (min-width: 0px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .mat-card{
    width: 50vw;
  }
}

@media only screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .mat-card{
    width: 34vw;
  }
}

@media only screen and (min-width: 1365px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mat-card{
    width: 22vw;
  }
}

@media only screen and (min-width: 1599px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mat-card{
    width: 23vw;
  }
}

@media only screen and (min-width: 1919px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .mat-card{
    width: 17vw;
  }
}
