.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 54px;
  grid-auto-rows: auto;
  grid-row-gap: 32px;
  margin: 32px 10vw;
}

.mat-card{
  width: 16vw;
  min-width: 297px;
  padding-bottom: 0px;
}
