<mat-card class="link-adder">
    <mat-card-title>Link Saver</mat-card-title>
    <mat-card-subtitle>This card replaces the Chrome Extension for the sake of demonstration.</mat-card-subtitle>
    <form name="form" (ngSubmit)="linkForm.form.valid && onSubmit()" #linkForm="ngForm">
        <mat-form-field>
            <mat-label color>Link</mat-label>
            <textarea matInput placeholder="Ex. A webpage you want to save..." name="link" class="form-control"
                [(ngModel)]="model.link" #link="ngModel" required></textarea>
            <mat-error *ngIf="linkForm.submitted && link.invalid && link.errors.required">
                This field cannot be empty
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Ex. I'm saving this because..." name="comment" class="form-control"
                [(ngModel)]="model.comment" #comment="ngModel"></textarea>
        </mat-form-field>
        <br>
        <button mat-button>Add Link</button>

    </form>
</mat-card>